## Read files and Data summary

In [1]:
import pandas as pd
import numpy as np
from __future__ import division
import re as re
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import calendar

#### Read files and have an overview of the dataset

In [2]:
emails = pd.read_csv('emails.tsv', header=None, delimiter = '\t')
emails.columns = ['email_id', 'sent_time','email_type','email_variant','member_id']
print emails.shape
print emails.dtypes

(9607809, 5)
email_id          int64
sent_time        object
email_type       object
email_variant    object
member_id         int64
dtype: object

In [3]:
email_responses = pd.read_csv('email_responses.tsv', delimiter = '\t')

In [4]:
email_responses.shape

(1558609, 3)

In [6]:
# number of emails 
a = email_responses['email_id'].unique()
len(a)

902915

In [7]:
# initial stats of open/click/unsub
action_dist = email_responses['action'].value_counts().to_dict()
action_dist

{'click': 436201, 'open': 1099755, 'unsub': 22653}

## Data cleaning

● drop duplicates

● merge emails.tsv and email_responses.tsv

● basic summary of open/click/unsub rate

● map features 

● data transformation

● use re to extract potential info from columns

● sent_time transformation

#### drop duplicates and merge emails and emails_responses

In [8]:
open_email = email_responses.loc[email_responses['action']=='open']
open_email.columns = ['email_id','open_time','open']
open_email = open_email.drop_duplicates(subset=['email_id'],keep='last')
temp0 = emails.merge(open_email,how='left',left_on='email_id',right_on='email_id')

In [9]:
unique_open_email0 = sum(open_email.email_id.isin(emails.email_id))
unique_open_email1 = len(open_email)
print 'The number of emails that are in subset(open) of email_response.tsv but out of emails.tsv:' + ' '+ str(unique_open_email1-unique_open_email0)

The number of emails that are in subset(open) of email_response.tsv but out of emails.tsv: 36107

In [10]:
click_email = email_responses.loc[email_responses['action']=='click']
click_email.columns = ['email_id','click_time','click']
click_email = click_email.drop_duplicates(subset=['email_id'],keep='last')
temp1 = temp0.merge(click_email,how='left',on='email_id')

In [11]:
unique_click_email0 = sum(click_email.email_id.isin(emails.email_id))
unique_click_email1 = len(click_email)
print 'The number of emails that are in subset(click) of email_response.tsv but out of emails.tsv:' + ' '+ str(unique_click_email1-unique_click_email0)

The number of emails that are in subset(click) of email_response.tsv but out of emails.tsv: 5346

In [12]:
unsub_email = email_responses.loc[email_responses['action']=='unsub']
unsub_email.columns = ['email_id','unsub_time','unsub']
unsub_email = unsub_email.drop_duplicates(subset=['email_id'],keep='last')
email_sent_response = temp1.merge(unsub_email,how='left',on='email_id')

In [13]:
unique_unsub_email0 = sum(unsub_email.email_id.isin(emails.email_id))
unique_unsub_email1 = len(unsub_email)
print 'The number of emails that are in subset(unsub) of email_response.tsv but out of emails.tsv:' + ' '+ str(unique_unsub_email1-unique_unsub_email0)

The number of emails that are in subset(unsub) of email_response.tsv but out of emails.tsv: 1481

In [14]:
email_sent_response

,email_id,sent_time,email_type,email_variant,member_id,open_time,open,click_time,click,unsub_time,unsub
0,205569994,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802252,NaN,NaN,NaN,NaN,NaN,NaN
1,205569995,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802253,NaN,NaN,NaN,NaN,NaN,NaN
2,205569997,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802255,NaN,NaN,NaN,NaN,NaN,NaN
3,205569998,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802256,NaN,NaN,NaN,NaN,NaN,NaN
4,205570000,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802257,NaN,NaN,NaN,NaN,NaN,NaN
5,205570071,2012-09-01 00:01:07,Transactional Forgot Password Email,NaN,14613748,NaN,NaN,NaN,NaN,NaN,NaN
6,205570072,2012-09-01 00:03:06,Transactional Forgot Password Email,NaN,14802258,NaN,NaN,NaN,NaN,NaN,NaN
7,205570073,2012-09-01 00:04:07,Transactional Forgot Password Email,NaN,14802258,NaN,NaN,NaN,NaN,NaN,NaN
8,205570074,2012-09-01 00:06:06,Transactional Forgot Password Email,NaN,14802258,NaN,NaN,NaN,NaN,NaN,NaN
9,205570075,2012-09-01 00:07:07,Transactional Forgot Password Email,NaN,14802258,NaN,NaN,NaN,NaN,NaN,NaN
10,205570076,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802260,NaN,NaN,2012-09-01 00:23:49,click,NaN,NaN
11,205570078,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802261,NaN,NaN,NaN,NaN,NaN,NaN
12,205570080,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802262,NaN,NaN,NaN,NaN,NaN,NaN
13,205570082,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802263,NaN,NaN,NaN,NaN,NaN,NaN
14,205570083,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802264,NaN,NaN,NaN,NaN,NaN,NaN
15,205570084,2012-09-01 00:10:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802267,NaN,NaN,NaN,NaN,NaN,NaN
16,205570123,2012-09-01 00:11:07,Transactional Forgot Password Email,NaN,8450299,2012-09-01 00:12:36,open,2012-09-01 00:12:57,click,NaN,NaN
17,205570124,2012-09-01 00:18:07,Transactional Forgot Password Email,NaN,13864150,NaN,NaN,NaN,NaN,NaN,NaN
18,205570126,2012-09-01 00:20:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802269,NaN,NaN,NaN,NaN,NaN,NaN
19,205570128,2012-09-01 00:20:09,Transactional JR Welcome Email,account_login_info_s2_v1,14802270,NaN,NaN,NaN,NaN,NaN,NaN
20,205570129,2012-09-01 00:20:09,Transactional JR Welcome Email,account_login_info_s2_v1,14802272,NaN,NaN,NaN,NaN,NaN,NaN
21,205570131,2012-09-01 00:20:09,Transactional JR Welcome Email,account_login_info_s2_v1,14802273,NaN,NaN,NaN,NaN,NaN,NaN
22,205570132,2012-09-01 00:20:09,Transactional JR Welcome Email,account_login_info_s2_v1,14802274,NaN,NaN,NaN,NaN,NaN,NaN
23,205570311,2012-09-01 00:25:07,Transactional Forgot Password Email,NaN,11693123,NaN,NaN,NaN,NaN,NaN,NaN
24,205570312,2012-09-01 00:26:09,Transactional Forgot Password Email,NaN,14802258,NaN,NaN,NaN,NaN,NaN,NaN
25,205570314,2012-09-01 00:30:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802275,NaN,NaN,NaN,NaN,NaN,NaN
26,205570316,2012-09-01 00:30:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802276,NaN,NaN,NaN,NaN,NaN,NaN
27,205570318,2012-09-01 00:30:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802277,NaN,NaN,NaN,NaN,NaN,NaN
28,205570320,2012-09-01 00:30:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802278,2012-09-01 00:30:52,open,2012-09-01 00:31:09,click,NaN,NaN
29,205570322,2012-09-01 00:30:08,Transactional JR Welcome Email,account_login_info_s2_v1,14802280,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9607779,219114437,2012-09-30 23:20:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463307,NaN,NaN,NaN,NaN,NaN,NaN
9607780,219114534,2012-09-30 23:30:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463310,NaN,NaN,NaN,NaN,NaN,NaN
9607781,219114536,2012-09-30 23:30:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463311,NaN,NaN,NaN,NaN,NaN,NaN
9607782,219114539,2012-09-30 23:30:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463312,NaN,NaN,NaN,NaN,NaN,NaN
9607783,219114541,2012-09-30 23:30:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463313,NaN,NaN,NaN,NaN,NaN,NaN
9607784,219114542,2012-09-30 23:30:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463316,NaN,NaN,NaN,NaN,NaN,NaN
9607785,219114545,2012-09-30 23:30:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463317,NaN,NaN,NaN,NaN,NaN,NaN
9607786,219114547,2012-09-30 23:30:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463318,2012-10-01 00:05:04,open,NaN,NaN,NaN,NaN
9607787,219114549,2012-09-30 23:30:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463319,NaN,NaN,NaN,NaN,NaN,NaN
9607788,219114615,2012-09-30 23:37:07,Transactional Forgot Password Email,NaN,12591347,NaN,NaN,NaN,NaN,NaN,NaN
9607789,219114616,2012-09-30 23:38:09,Transactional Forgot Password Email,NaN,14385880,2012-09-30 23:41:23,open,2012-09-30 23:41:31,click,NaN,NaN
9607790,219114622,2012-09-30 23:40:08,Transactional JR Welcome Email,account_login_info_s2_v1,15463322,NaN,NaN,NaN,NaN,NaN,NaN
9607791,219114631,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463323,NaN,NaN,NaN,NaN,NaN,NaN
9607792,219114634,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463325,NaN,NaN,NaN,NaN,NaN,NaN
9607793,219114636,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463326,2012-09-30 23:42:03,open,NaN,NaN,NaN,NaN
9607794,219114638,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463327,NaN,NaN,NaN,NaN,NaN,NaN
9607795,219114641,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463329,NaN,NaN,NaN,NaN,NaN,NaN
9607796,219114643,2012-09-30 23:40:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463330,NaN,NaN,NaN,NaN,NaN,NaN
9607797,219114645,2012-09-30 23:40:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463332,NaN,NaN,NaN,NaN,NaN,NaN
9607798,219114711,2012-09-30 23:41:08,Transactional Forgot Password Email,NaN,12591347,NaN,NaN,2012-09-30 23:42:31,click,NaN,NaN
9607799,219114712,2012-09-30 23:45:08,Transactional Forgot Password Email,NaN,11565329,NaN,NaN,2012-09-30 23:49:27,click,NaN,NaN
9607800,219114732,2012-09-30 23:50:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463334,NaN,NaN,NaN,NaN,NaN,NaN
9607801,219114736,2012-09-30 23:50:09,Transactional JR Welcome Email,account_login_info_s2_v1,15463335,NaN,NaN,NaN,NaN,NaN,NaN
9607802,219114738,2012-09-30 23:50:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463336,NaN,NaN,NaN,NaN,NaN,NaN
9607803,219114740,2012-09-30 23:50:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463337,2012-10-05 12:25:56,open,NaN,NaN,NaN,NaN
9607804,219114742,2012-09-30 23:50:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463338,2012-10-01 11:27:01,open,NaN,NaN,NaN,NaN
9607805,219114747,2012-09-30 23:50:10,Transactional JR Welcome Email,account_login_info_s2_v1,15463339,NaN,NaN,NaN,NaN,NaN,NaN
9607806,219114811,2012-09-30 23:56:09,Transactional Forgot Password Email,NaN,8261356,NaN,NaN,2012-09-30 23:56:34,click,NaN,NaN
9607807,219114812,2012-09-30 23:56:09,Transactional Forgot Password Email,NaN,12935379,2012-09-30 23:56:50,open,NaN,NaN,NaN,NaN
9607808,219114813,2012-09-30 23:58:07,Transactional Forgot Password Email,NaN,15457355,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# number of unique members
a = email_sent_response['member_id'].unique()
len(a)

1886779

In [ ]:
# number of unique unsubscirbes
b = email_sent_response.loc[email_sent_response['unsub'] == 'unsub']
c = b['member_id'].unique()
len(c)

#### First view of open/click/unsub rate

In [16]:
open_count = email_sent_response['open'].value_counts()
click_count = email_sent_response['click'].value_counts()
unsub_count = email_sent_response['unsub'].value_counts()
email_count = len(email_sent_response)
a = (click_count)/(email_count)
print click_count
print open_count
print unsub_count
print 'Open Rate is' +' '+ "{:.2%}".format(open_count['open']/email_count)
print 'Click Rate is' +' '+ "{:.2%}".format(click_count['click']/email_count)
print 'Unsubscribe Rate is' +' '+ "{:.2%}".format(unsub_count['unsub']/email_count)
print 'Click-Open Rate is' +' '+ "{:.2%}".format(click_count['click']/open_count['open'])

click    331118
Name: click, dtype: int64
open    765554
Name: open, dtype: int64
unsub    19698
Name: unsub, dtype: int64
Open Rate is 7.97%
Click Rate is 3.45%
Unsubscribe Rate is 0.21%
Click-Open Rate is 43.25%

In [17]:
email_sent_response['email_type'].value_counts().to_dict()

{'T plus 1': 279398,
 'T plus N': 8708618,
 'Transactional Forgot Password Email': 121880,
 'Transactional JR Welcome Email': 497913}

In [18]:
email_sent_response['open'] = email_sent_response['open'].replace('open',1)
email_sent_response['open'].fillna(0,inplace=True)
email_sent_response['open'] = email_sent_response['open'].astype(int)

email_sent_response['click'] = email_sent_response['click'].replace('click',1)
email_sent_response['click'].fillna(0,inplace=True)
email_sent_response['click'] = email_sent_response['click'].astype(int)

email_sent_response['unsub'] = email_sent_response['unsub'].replace('unsub',1)
email_sent_response['unsub'].fillna(0,inplace=True)
email_sent_response['unsub'] = email_sent_response['unsub'].astype(int)

#### Mapping email_type:

● Transactional Forgot Password Email: 0

● Transactional JR Welcome Email: 1

● T plus 1: 2

● T plus N: 3

In [19]:
mapping = {'Transactional Forgot Password Email': 0, 'Transactional JR Welcome Email': 1, 'T plus 1': 2, 'T plus N': 3}
email_sent_response['email_type'] = email_sent_response['email_type'].map(mapping).astype(int)

#### Using regular expression to separate features from email_variant

In [20]:
def get_days_joined(campaign):
    days_search = re.search('(tplus+)([+-]?\d+(?:\.\d+)?)',campaign)
    if days_search:
        return days_search.group(2)
    return 0
email_sent_response['email_variant'] = email_sent_response['email_variant'].astype('str') 
email_sent_response['days_joined'] = email_sent_response['email_variant'].apply(lambda x: get_days_joined(x))

In [21]:
def get_campaign(campaign):
    cloud_email = re.search('fixed_keyword_cloud_s1_v1',campaign)
    job_alert = re.search('job_alert_s1_v1',campaign)
    login = re.search('account_login_info_s2_v1',campaign)
    birthday = re.search('birthday_s1_v1_f2',campaign)
    birthday_job = re.search('birthday_joblist1_s1_v1_f2',campaign)
    if cloud_email:
        return 'cloud email'
    if job_alert:
        return 'job_listing'
    if login:
        return 'log_in'
    if birthday:
        return 'birthday'
    if birthday_job:
        return 'birthday_job'
    return 'password'
email_sent_response['email_kind'] = email_sent_response['email_variant'].apply(lambda x: get_campaign(x))

In [22]:
def get_opened(campaign):
    opened_before = re.search('1opened',campaign)
    if opened_before:
        return 1
    return 0
email_sent_response['opened_before'] = email_sent_response['email_variant'].apply(lambda x: get_opened(x))

In [23]:
def get_age22(campaign):
    age22 = re.search('age22+',campaign)
    if age22:
        return 1
    return 0
email_sent_response['age22'] = email_sent_response['email_variant'].apply(lambda x: get_age22(x))

In [24]:
def get_age35(campaign):
    age35 = re.search('age35+',campaign)
    if age35:
        return 1
    return 0
email_sent_response['age35'] = email_sent_response['email_variant'].apply(lambda x: get_age35(x))
cols = ['opened_before','age22','age35']
email_sent_response[cols] = email_sent_response[cols].astype(int)

#### Convert to NaN

In [25]:
cols_to_nan = ['opened_before','age22','age35']
email_sent_response.loc[email_sent_response['email_type']== 0, cols_to_nan] = np.nan
email_sent_response.loc[email_sent_response['email_type']== 1, cols_to_nan] = np.nan
email_sent_response.loc[email_sent_response['email_type']== 2, cols_to_nan] = np.nan

In [26]:
email_sent_response['days_joined'] = email_sent_response['days_joined'].astype(int)
email_sent_response['category_days_joined'] = pd.cut(email_sent_response['days_joined'], 15)

email_sent_response.loc[email_sent_response['email_type']== 0,'category_days_joined'] = np.nan
email_sent_response.loc[email_sent_response['email_type']== 1,'category_days_joined'] = np.nan
email_sent_response.loc[email_sent_response['email_type']== 2,'category_days_joined'] = np.nan

#### Extract potential info from sent_time

● create date,hour,weekday columns

● transform continuous variable to categorical variable

In [27]:
email_sent_response["date"] = email_sent_response.sent_time.apply(lambda x : x.split()[0])
email_sent_response["hour"] = email_sent_response.sent_time.apply(lambda x : x.split()[1].split(":")[0])
email_sent_response["weekday"] = email_sent_response.date.apply(lambda dateString : calendar.day_name[datetime.strptime(dateString,"%Y-%m-%d").weekday()])

In [28]:
email_sent_response['hour'] = email_sent_response['hour'].astype(int)
email_sent_response['category_hour'] = pd.cut(email_sent_response['hour'], 4)
email_sent_response['category_hour'].value_counts()

(-0.023, 5.75]    5255033
(5.75, 11.5]      3875697
(11.5, 17.25]      311497
(17.25, 23.0]      165582
Name: category_hour, dtype: int64

#### Coercing to category type

In [29]:
categoryVarList = ['email_type','email_kind','opened_before','age35','age22']
for var in categoryVarList:
    email_sent_response[var] = email_sent_response[var].astype('category')

#### Drop unnecessary columns

In [30]:
email_sent_response = email_sent_response.drop(['email_variant'],axis=1)
email_sent_response = email_sent_response.drop(['days_joined'],axis=1)
email_sent_response = email_sent_response.drop(['hour'],axis=1)
email_sent_response = email_sent_response.drop(['sent_time'],axis=1)

In [31]:
email_sent_response.dtypes

email_id                   int64
email_type              category
member_id                  int64
open_time                 object
open                       int64
click_time                object
click                      int64
unsub_time                object
unsub                      int64
email_kind              category
opened_before           category
age22                   category
age35                   category
category_days_joined    category
date                      object
weekday                   object
category_hour           category
dtype: object

In [32]:
email_sent_response

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour
0,205569994,1,14802252,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
1,205569995,1,14802253,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
2,205569997,1,14802255,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
3,205569998,1,14802256,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
4,205570000,1,14802257,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
5,205570071,0,14613748,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
6,205570072,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
7,205570073,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
8,205570074,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
9,205570075,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
10,205570076,1,14802260,NaN,0,2012-09-01 00:23:49,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
11,205570078,1,14802261,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
12,205570080,1,14802262,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
13,205570082,1,14802263,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
14,205570083,1,14802264,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
15,205570084,1,14802267,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
16,205570123,0,8450299,2012-09-01 00:12:36,1,2012-09-01 00:12:57,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
17,205570124,0,13864150,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
18,205570126,1,14802269,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
19,205570128,1,14802270,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
20,205570129,1,14802272,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
21,205570131,1,14802273,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
22,205570132,1,14802274,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
23,205570311,0,11693123,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
24,205570312,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
25,205570314,1,14802275,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
26,205570316,1,14802276,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
27,205570318,1,14802277,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
28,205570320,1,14802278,2012-09-01 00:30:52,1,2012-09-01 00:31:09,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
29,205570322,1,14802280,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607779,219114437,1,15463307,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607780,219114534,1,15463310,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607781,219114536,1,15463311,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607782,219114539,1,15463312,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607783,219114541,1,15463313,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607784,219114542,1,15463316,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607785,219114545,1,15463317,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607786,219114547,1,15463318,2012-10-01 00:05:04,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607787,219114549,1,15463319,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607788,219114615,0,12591347,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607789,219114616,0,14385880,2012-09-30 23:41:23,1,2012-09-30 23:41:31,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607790,219114622,1,15463322,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607791,219114631,1,15463323,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607792,219114634,1,15463325,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607793,219114636,1,15463326,2012-09-30 23:42:03,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607794,219114638,1,15463327,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607795,219114641,1,15463329,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607796,219114643,1,15463330,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607797,219114645,1,15463332,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607798,219114711,0,12591347,NaN,0,2012-09-30 23:42:31,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607799,219114712,0,11565329,NaN,0,2012-09-30 23:49:27,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607800,219114732,1,15463334,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607801,219114736,1,15463335,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607802,219114738,1,15463336,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607803,219114740,1,15463337,2012-10-05 12:25:56,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607804,219114742,1,15463338,2012-10-01 11:27:01,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607805,219114747,1,15463339,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607806,219114811,0,8261356,NaN,0,2012-09-30 23:56:34,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607807,219114812,0,12935379,2012-09-30 23:56:50,1,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607808,219114813,0,15457355,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"

In [33]:
email_sent_response.loc[(email_sent_response['unsub']==1) & (email_sent_response['click']==1)]

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour
65130,205641149,3,14040931,2012-09-08 05:11:55,1,2012-09-08 05:12:35,1,2012-09-08 05:15:06,1,job_listing,1.0,0.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
66076,205642095,3,14489345,2012-09-02 07:56:48,1,2012-09-02 07:57:32,1,2012-09-02 07:57:51,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
66116,205642135,3,14488698,NaN,0,2012-09-01 16:04:30,1,2012-09-01 16:10:15,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
66641,205642660,3,14043601,NaN,0,2012-09-06 15:43:47,1,2012-09-06 15:44:03,1,job_listing,1.0,0.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
70894,205646913,3,14056052,2012-09-08 12:58:53,1,2012-09-01 12:45:45,1,2012-09-08 12:59:00,1,cloud email,1.0,0.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
71303,205647322,3,14062912,2012-09-08 07:44:30,1,2012-09-08 07:44:53,1,2012-09-08 07:46:36,1,job_listing,1.0,0.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
75806,205651825,3,14382048,NaN,0,2012-09-01 22:27:02,1,2012-09-01 22:30:40,1,cloud email,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
76699,205652718,3,14351829,2012-09-01 15:40:31,1,2012-09-01 15:40:36,1,2012-09-01 15:41:04,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
82579,205658598,3,14382429,NaN,0,2012-09-01 14:11:25,1,2012-09-01 14:13:14,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
86519,205662538,3,14355656,2012-09-01 19:04:26,1,2012-09-01 19:04:35,1,2012-09-01 19:05:20,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
90218,205666237,3,13640530,NaN,0,2012-09-12 06:45:17,1,2012-09-12 06:45:42,1,job_listing,1.0,0.0,0.0,"(48.267, 72.4]",2012-09-01,Saturday,"(-0.023, 5.75]"
94390,205670409,3,14267074,2012-09-01 07:40:43,1,2012-09-01 07:41:23,1,2012-09-01 07:42:43,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
94688,205670707,3,14267524,2012-09-01 22:18:44,1,2012-09-01 13:36:07,1,2012-09-01 22:18:53,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
105943,205681962,3,13529416,2012-09-13 19:13:10,1,2012-09-10 10:53:03,1,2012-09-10 10:53:47,1,job_listing,1.0,0.0,0.0,"(48.267, 72.4]",2012-09-01,Saturday,"(-0.023, 5.75]"
112240,205688259,3,13877219,NaN,0,2012-09-01 08:28:21,1,2012-09-01 08:29:36,1,job_listing,0.0,0.0,1.0,"(48.267, 72.4]",2012-09-01,Saturday,"(-0.023, 5.75]"
133566,205715126,3,14121838,2012-09-01 17:03:05,1,2012-09-01 17:04:07,1,2012-09-01 17:03:34,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
138440,205720000,3,13150184,2012-09-01 16:56:55,1,2012-09-01 16:55:54,1,2012-09-01 16:57:05,1,job_listing,1.0,0.0,0.0,"(72.4, 96.533]",2012-09-01,Saturday,"(-0.023, 5.75]"
140300,205734534,3,13140805,2012-09-01 07:09:50,1,2012-09-01 07:10:12,1,2012-09-01 07:10:44,1,job_listing,1.0,0.0,0.0,"(72.4, 96.533]",2012-09-01,Saturday,"(-0.023, 5.75]"
141970,205736204,3,13979072,2012-09-01 07:27:25,1,2012-09-01 07:27:55,1,2012-09-01 07:27:41,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-01,Saturday,"(-0.023, 5.75]"
144136,205738370,3,14724486,NaN,0,2012-09-03 19:22:29,1,2012-09-04 11:22:04,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(-0.023, 5.75]"
163282,205769916,3,14748033,2012-09-01 11:39:57,1,2012-09-01 11:40:20,1,2012-09-01 11:41:09,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
163785,205770419,3,14727398,NaN,0,2012-09-03 14:32:55,1,2012-09-03 14:31:38,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
164310,205770944,3,14754391,2012-09-01 21:02:48,1,2012-09-01 21:03:01,1,2012-09-01 21:03:23,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
165093,205771727,3,14732808,NaN,0,2012-09-02 19:09:27,1,2012-09-02 19:10:09,1,job_listing,0.0,1.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
166357,205772991,3,14743932,2012-09-01 09:38:22,1,2012-09-01 09:38:39,1,2012-09-01 09:39:09,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
168297,205774931,3,14755116,2012-09-01 07:52:57,1,2012-09-01 07:53:18,1,2012-09-01 07:54:54,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
172879,205779513,3,14757323,2012-09-01 15:48:36,1,2012-09-01 15:48:49,1,2012-09-01 15:49:18,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
175133,205781767,3,14750338,2012-09-01 17:45:02,1,2012-09-01 17:45:18,1,2012-09-01 17:48:03,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
176685,205783319,3,14757489,2012-09-01 06:32:53,1,2012-09-01 06:33:05,1,2012-09-01 06:34:02,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
177092,205783726,3,14746918,NaN,0,2012-09-01 15:00:14,1,2012-09-01 15:00:39,1,cloud email,0.0,0.0,0.0,"(-0.362, 24.133]",2012-09-01,Saturday,"(5.75, 11.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533400,218995734,1,15449839,2012-09-30 07:59:19,1,2012-09-30 07:59:55,1,2012-10-02 06:10:53,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9535133,218997563,3,12735266,2012-10-01 21:36:24,1,2012-10-01 21:39:17,1,2012-10-01 21:38:24,1,cloud email,1.0,0.0,0.0,"(144.8, 168.933]",2012-09-30,Sunday,"(5.75, 11.5]"
9535414,218997844,3,14892887,2012-10-01 11:52:39,1,2012-10-01 11:51:45,1,2012-10-01 11:52:46,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9537146,218999576,3,14874400,2012-10-01 06:37:54,1,2012-10-01 06:28:03,1,2012-10-01 06:31:12,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9538351,219000781,3,14866104,2012-10-01 06:48:40,1,2012-09-30 09:31:44,1,2012-10-01 06:48:49,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9538399,219000829,3,14874059,2012-09-30 10:30:55,1,2012-09-30 10:34:26,1,2012-09-30 10:35:19,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9540125,219002555,3,14877194,NaN,0,2012-09-30 10:57:53,1,2012-09-30 10:59:57,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9540820,219003250,3,14867410,2012-10-01 17:36:48,1,2012-10-01 17:32:29,1,2012-10-01 17:36:55,1,cloud email,0.0,0.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9548010,219010440,3,14883490,2012-10-01 11:32:03,1,2012-10-01 11:16:04,1,2012-10-01 11:16:23,1,cloud email,0.0,0.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9550362,219012792,3,12529493,NaN,0,2012-09-30 08:38:24,1,2012-09-30 08:39:44,1,job_listing,1.0,0.0,0.0,"(144.8, 168.933]",2012-09-30,Sunday,"(5.75, 11.5]"
9551535,219013965,3,14884455,2012-09-30 17:46:07,1,2012-09-30 17:46:20,1,2012-09-30 17:46:55,1,cloud email,0.0,0.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9553537,219015967,3,14871086,2012-09-30 13:21:21,1,2012-09-30 13:22:14,1,2012-09-30 16:16:25,1,job_listing,0.0,1.0,0.0,"(24.133, 48.267]",2012-09-30,Sunday,"(5.75, 11.5]"
9557407,219029213,1,15450376,2012-10-04 09:14:04,1,2012-09-30 08:51:34,1,2012-10-04 09:14:39,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9557817,219029928,1,15450833,2012-10-01 09:11:30,1,2012-09-30 15:08:28,1,2012-09-30 15:05:27,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9559471,219031786,3,12319538,2012-10-01 08:34:37,1,2012-10-01 08:34:41,1,2012-10-01 08:36:12,1,job_listing,1.0,0.0,0.0,"(168.933, 193.067]",2012-09-30,Sunday,"(5.75, 11.5]"
9573780,219046095,3,11872883,2012-09-30 10:06:55,1,2012-09-30 10:07:05,1,2012-09-30 10:07:30,1,cloud email,1.0,0.0,0.0,"(193.067, 217.2]",2012-09-30,Sunday,"(5.75, 11.5]"
9584431,219072494,1,15451766,2012-10-01 18:30:15,1,2012-09-30 17:50:56,1,2012-10-01 18:30:27,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9584626,219072836,1,15452013,2012-09-30 19:05:08,1,2012-09-30 18:27:51,1,2012-09-30 19:23:48,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9596933,219085582,3,11194687,2012-09-30 13:49:16,1,2012-09-30 13:49:28,1,2012-09-30 13:50:43,1,job_listing,1.0,0.0,0.0,"(241.333, 265.467]",2012-09-30,Sunday,"(5.75, 11.5]"
9597775,219090237,1,15452817,NaN,0,2012-09-30 11:34:25,1,2012-09-30 11:33:11,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(5.75, 11.5]"
9598604,219092344,1,15453983,NaN,0,2012-09-30 12:35:25,1,2012-09-30 12:42:56,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(11.5, 17.25]"
9599616,219094912,1,15454383,2012-09-30 17:59:28,1,2012-09-30 18:01:20,1,2012-09-30 18:00:04,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(11.5, 17.25]"
9600616,219097249,1,15456166,2012-09-30 14:35:15,1,2012-09-30 15:02:40,1,2012-09-30 14:35:33,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(11.5, 17.25]"
9601694,219099871,1,15456771,2012-10-02 18:58:18,1,2012-10-02 18:58:30,1,2012-10-02 19:02:44,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(11.5, 17.25]"
9603112,219103175,1,15458303,2012-09-30 17:01:10,1,2012-09-30 17:01:22,1,2012-09-30 17:02:03,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(11.5, 17.25]"
9604130,219105694,1,15459339,2012-10-04 14:23:39,1,2012-09-30 18:59:05,1,2012-09-30 20:34:31,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9604255,219105909,1,15459469,2012-09-30 18:26:07,1,2012-09-30 18:27:37,1,2012-09-30 18:26:37,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9604263,219105924,1,15459478,2012-10-01 12:33:43,1,2012-10-01 12:34:00,1,2012-10-01 12:35:18,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9605436,219109045,1,15460749,NaN,0,2012-10-01 06:57:52,1,2012-10-01 06:58:42,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607462,219113654,1,15462968,2012-09-30 22:38:36,1,2012-09-30 22:35:34,1,2012-09-30 22:39:00,1,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"

In [34]:
email_kind = email_sent_response.groupby(['email_kind','age22','age35','opened_before']).size()
email_kind

email_kind   age22  age35  opened_before
cloud email  0.0    0.0    0.0              1519907
                           1.0               780283
                    1.0    0.0                60537
             1.0    0.0    0.0               374204
job_listing  0.0    0.0    1.0              2608118
                    1.0    0.0               232627
             1.0    0.0    0.0              3132906
password     0.0    0.0    0.0                   36
dtype: int64

In [ ]:
# email_sent_response.to_csv('email_sent_response.tsv', sep='\t')

## Statistics

#### Overview of email_type on open/click/unsub rate

In [35]:
# Overview of email_type on open/click/unsub rate
r_emailvar = email_sent_response[['email_type','click','open']].groupby(['email_type'], as_index=False).mean()
r_emailvar['click_open'] = r_emailvar['click']/r_emailvar['open']
a = pd.DataFrame(email_sent_response.groupby('email_type').member_id.nunique())
a = a.reset_index()
b = pd.DataFrame(email_sent_response.loc[email_sent_response['unsub']==1].groupby('email_type').member_id.nunique())
b = b.reset_index()
b['unsub'] = b['member_id']/a['member_id'] 
r_emailvar['unsub'] = b['unsub']
r_emailvar
# email_type = 1: unsub rate is high: no additional value/single CTA
# email_type = 2: unsub rate is above avg: activation/email format

  email_type     click      open  click_open     unsub
0          0  0.236520  0.285141    0.829482  0.000092
1          1  0.043236  0.124741    0.346611  0.010837
2          2  0.002276  0.108336    0.021012  0.002634
3          3  0.032167  0.073309    0.438780  0.009350

#### email_kind - open/click/unsub rate

In [36]:
# email_kind - open/click/unsub rate
r_email_kind = email_sent_response[['email_kind','click','open']].groupby(['email_kind'], as_index=False).mean()
r_email_kind['click_open'] = r_email_kind['click']/r_email_kind['open']
a = pd.DataFrame(email_sent_response.groupby('email_kind').member_id.nunique())
a = a.reset_index()
b = pd.DataFrame(email_sent_response.loc[email_sent_response['unsub']==1].groupby('email_kind').member_id.nunique())
b = b.reset_index()
b['unsub'] = b['member_id']/a['member_id'] 
r_email_kind['unsub'] = b['unsub']
# r_email_kind.to_csv('email_kind_rate.tsv', sep='\t')
r_email_kind

     email_kind     click      open  click_open     unsub
0      birthday  0.001839  0.107346    0.017128  0.002666
1  birthday_job  0.021023  0.150769    0.139438  0.001255
2   cloud email  0.037201  0.069764    0.533237  0.006347
3   job_listing  0.029862  0.074933    0.398520  0.008180
4        log_in  0.043236  0.124741    0.346611  0.010837
5      password  0.236450  0.285073    0.829435  0.000092

#### time_to_send impacts on open/click/unsub rate

In [37]:
# time_to_send impacts on open/click/unsub rate
r_hour = email_sent_response[['email_kind','email_type','category_hour','click','open']].groupby(['email_kind','category_hour'], as_index=False).mean()
r_hour['click_open'] = r_hour['click']/r_hour['open']
email_sent_response[['email_kind','email_type','category_hour','click','open']].groupby(['email_kind','category_hour'], as_index=False).size()
# r_hour.to_csv('email_sent_hour_rate.tsv', sep='\t')
# email_kind = cloud email: click rate is high between 6 to 12
# email_kind = job listing: click rate is low between 6 to 12

email_kind    category_hour
birthday      (5.75, 11.5]       273024
birthday_job  (5.75, 11.5]         6374
cloud email   (-0.023, 5.75]    1373856
              (5.75, 11.5]      1361075
job_listing   (-0.023, 5.75]    3875179
              (5.75, 11.5]      2098472
log_in        (-0.023, 5.75]       5349
              (5.75, 11.5]        95519
              (11.5, 17.25]      253355
              (17.25, 23.0]      143690
password      (-0.023, 5.75]        649
              (5.75, 11.5]        41233
              (11.5, 17.25]       58142
              (17.25, 23.0]       21892
dtype: int64

#### weekday impacts on open/click/unsub rate

In [38]:
r_weekday = email_sent_response[['email_kind','weekday','click','open','unsub']].groupby(['weekday'], as_index=False).mean()
r_weekday['click_open'] = r_weekday['click']/r_weekday['open']
# r_weekday.loc[(r_weekday['email_kind']=='cloud email')|(r_weekday['email_kind']=='job_listing')]
a = pd.DataFrame(email_sent_response.groupby('weekday').member_id.nunique())
a = a.reset_index()
b = pd.DataFrame(email_sent_response.loc[email_sent_response['unsub']==1].groupby('weekday').member_id.nunique())
b = b.reset_index()
b['unsub'] = b['member_id']/a['member_id'] 
r_weekday['unsub'] = b['unsub']
r_weekday

     weekday     click      open     unsub  click_open
0     Friday  0.039107  0.084069  0.005184    0.465174
1     Monday  0.042066  0.094557  0.005553    0.444873
2   Saturday  0.023894  0.062214  0.004134    0.384061
3     Sunday  0.030459  0.076783  0.004930    0.396696
4   Thursday  0.041860  0.087088  0.005507    0.480660
5    Tuesday  0.039264  0.089322  0.005396    0.439580
6  Wednesday  0.029651  0.070433  0.004432    0.420984

#### days_joined impacts on open/click/unsub rate

In [39]:
# days_joined impacts on open/click/unsub rate
r_joined_days = email_sent_response[['email_kind','email_type','category_days_joined','click','open','unsub']].groupby(['email_type','email_kind','category_days_joined'], as_index=False).mean()
r_joined_days['click_open'] = r_joined_days['click']/r_joined_days['open']
r_joined_days.loc[(r_joined_days['email_type'] == 3)&(r_joined_days['email_kind'] == 'cloud email')]
r_joined_days.loc[(r_joined_days['email_type'] == 3)&(r_joined_days['email_kind'] == 'job_listing')]

,email_type,email_kind,category_days_joined,click,open,unsub,click_open
315,3,job_listing,"(-0.362, 24.133]",0.041767,0.076867,0.001898,0.543371
316,3,job_listing,"(24.133, 48.267]",0.026178,0.067421,0.001336,0.388280
317,3,job_listing,"(48.267, 72.4]",0.027246,0.085684,0.001491,0.317980
318,3,job_listing,"(72.4, 96.533]",0.021860,0.089642,0.001307,0.243861
319,3,job_listing,"(96.533, 120.667]",0.019738,0.083087,0.001053,0.237554
320,3,job_listing,"(120.667, 144.8]",0.019919,0.082104,0.001194,0.242611
321,3,job_listing,"(144.8, 168.933]",0.018820,0.076546,0.000905,0.245869
322,3,job_listing,"(168.933, 193.067]",0.017340,0.071085,0.000885,0.243931
323,3,job_listing,"(193.067, 217.2]",0.016904,0.069812,0.000794,0.242138
324,3,job_listing,"(217.2, 241.333]",0.016866,0.069651,0.000774,0.242143
325,3,job_listing,"(241.333, 265.467]",0.016956,0.072618,0.000825,0.233493
326,3,job_listing,"(265.467, 289.6]",0.015554,0.066964,0.000741,0.232280
327,3,job_listing,"(289.6, 313.733]",0.014280,0.064761,0.000588,0.220500
328,3,job_listing,"(313.733, 337.867]",0.014796,0.066683,0.000595,0.221892
329,3,job_listing,"(337.867, 362.0]",0.013707,0.067076,0.000590,0.204345

In [40]:
email_sent_response

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour
0,205569994,1,14802252,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
1,205569995,1,14802253,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
2,205569997,1,14802255,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
3,205569998,1,14802256,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
4,205570000,1,14802257,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
5,205570071,0,14613748,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
6,205570072,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
7,205570073,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
8,205570074,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
9,205570075,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
10,205570076,1,14802260,NaN,0,2012-09-01 00:23:49,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
11,205570078,1,14802261,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
12,205570080,1,14802262,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
13,205570082,1,14802263,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
14,205570083,1,14802264,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
15,205570084,1,14802267,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
16,205570123,0,8450299,2012-09-01 00:12:36,1,2012-09-01 00:12:57,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
17,205570124,0,13864150,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
18,205570126,1,14802269,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
19,205570128,1,14802270,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
20,205570129,1,14802272,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
21,205570131,1,14802273,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
22,205570132,1,14802274,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
23,205570311,0,11693123,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
24,205570312,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
25,205570314,1,14802275,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
26,205570316,1,14802276,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
27,205570318,1,14802277,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
28,205570320,1,14802278,2012-09-01 00:30:52,1,2012-09-01 00:31:09,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
29,205570322,1,14802280,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607779,219114437,1,15463307,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607780,219114534,1,15463310,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607781,219114536,1,15463311,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607782,219114539,1,15463312,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607783,219114541,1,15463313,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607784,219114542,1,15463316,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607785,219114545,1,15463317,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607786,219114547,1,15463318,2012-10-01 00:05:04,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607787,219114549,1,15463319,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607788,219114615,0,12591347,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607789,219114616,0,14385880,2012-09-30 23:41:23,1,2012-09-30 23:41:31,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607790,219114622,1,15463322,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607791,219114631,1,15463323,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607792,219114634,1,15463325,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607793,219114636,1,15463326,2012-09-30 23:42:03,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607794,219114638,1,15463327,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607795,219114641,1,15463329,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607796,219114643,1,15463330,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607797,219114645,1,15463332,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607798,219114711,0,12591347,NaN,0,2012-09-30 23:42:31,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607799,219114712,0,11565329,NaN,0,2012-09-30 23:49:27,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607800,219114732,1,15463334,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607801,219114736,1,15463335,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607802,219114738,1,15463336,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607803,219114740,1,15463337,2012-10-05 12:25:56,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607804,219114742,1,15463338,2012-10-01 11:27:01,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607805,219114747,1,15463339,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607806,219114811,0,8261356,NaN,0,2012-09-30 23:56:34,1,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607807,219114812,0,12935379,2012-09-30 23:56:50,1,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607808,219114813,0,15457355,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"

In [41]:
email_sent_response.groupby('category_days_joined')['member_id'].nunique()

category_days_joined
(-0.362, 24.133]      637537
(24.133, 48.267]      387076
(48.267, 72.4]        189705
(72.4, 96.533]        146008
(96.533, 120.667]     138265
(120.667, 144.8]      126049
(144.8, 168.933]      132609
(168.933, 193.067]     98630
(193.067, 217.2]      117746
(217.2, 241.333]      116555
(241.333, 265.467]     89245
(265.467, 289.6]       44194
(289.6, 313.733]       49366
(313.733, 337.867]     36475
(337.867, 362.0]       30178
Name: member_id, dtype: int64

#### campaign age22+ - open/click/unsub rate

In [42]:
# campaign age22+ - open/click/unsub rate
r_ekind_ctype_age22 = email_sent_response[['email_kind','email_type','age22','click','open','unsub']].groupby(['email_kind','age22'], as_index=False).mean()
r_ekind_ctype_age22['click_open'] = r_ekind_ctype_age22['click']/r_ekind_ctype_age22['open']

r_ekind_ctype_age22.loc[(r_ekind_ctype_age22['email_kind']=='cloud email')|(r_ekind_ctype_age22['email_kind']=='job_listing')]

    email_kind age22     click      open     unsub  click_open
4  cloud email   0.0  0.035938  0.069688  0.001757    0.515701
5  cloud email   1.0  0.045165  0.070242  0.002146    0.642990
6  job_listing   0.0  0.021397  0.077956  0.001109    0.274478
7  job_listing   1.0  0.037538  0.072191  0.001742    0.519976

In [43]:
email_sent_response.groupby(['age22']).size()

age22
0.0    5201508
1.0    3507110
dtype: int64

In [44]:
email_sent_response.loc[email_sent_response['age22']==1,'click'].mean()

0.038351520197541566

#### campaign age35+ - open/click/unsub rate

In [45]:
r_ekind_ctype_age35 = email_sent_response[['email_kind','email_type','age35','click','open','unsub']].groupby(['email_kind','age35'], as_index=False).mean()
r_ekind_ctype_age35['click_open'] = r_ekind_ctype_age35['click']/r_ekind_ctype_age35['open']
r_ekind_ctype_age35.loc[(r_ekind_ctype_age35['email_kind']=='cloud email')|(r_ekind_ctype_age35['email_kind']=='job_listing')]

    email_kind age35     click      open     unsub  click_open
4  cloud email   0.0  0.037392  0.070067  0.001820    0.533655
5  cloud email   1.0  0.028759  0.056362  0.001355    0.510258
6  job_listing   0.0  0.029928  0.075176  0.001438    0.398107
7  job_listing   1.0  0.028238  0.068934  0.001517    0.409641

In [46]:
email_sent_response.groupby(['age35']).size()

age35
0.0    8415454
1.0     293164
dtype: int64

In [47]:
email_sent_response.loc[email_sent_response['age35']==1,'click'].mean()

0.0283459087746108

#### campaign opened_before - open/click/unsub rate

In [48]:
r_ekind_ctype_opened = email_sent_response[['email_kind','email_type','opened_before','click','open','unsub']].groupby(['email_kind','opened_before'], as_index=False).mean()
r_ekind_ctype_opened['click_open'] = r_ekind_ctype_opened['click']/r_ekind_ctype_opened['open']
r_ekind_ctype_opened.loc[(r_ekind_ctype_opened['email_kind']=='cloud email')|(r_ekind_ctype_opened['email_kind']=='job_listing')]

    email_kind opened_before     click      open     unsub  click_open
4  cloud email           0.0  0.043997  0.069517  0.002059    0.632887
5  cloud email           1.0  0.020176  0.070381  0.001187    0.286669
6  job_listing           0.0  0.036895  0.071966  0.001726    0.512671
7  job_listing           1.0  0.020787  0.078761  0.001072    0.263927

In [49]:
email_sent_response.groupby(['opened_before']).size()

opened_before
0.0    5320217
1.0    3388401
dtype: int64

In [50]:
email_sent_response.loc[email_sent_response['opened_before']==1,'click'].mean()

0.020646316654964983

## Net Profit

#### Drop unsub and password clicks

In [51]:
email_sent_response = email_sent_response[~((email_sent_response['unsub'] == 1) & (email_sent_response['click'] == 1))]
email_sent_response = email_sent_response[~((email_sent_response['email_type'] == 0) & (email_sent_response['click'] == 1))]
email_sent_response

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour
0,205569994,1,14802252,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
1,205569995,1,14802253,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
2,205569997,1,14802255,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
3,205569998,1,14802256,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
4,205570000,1,14802257,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
5,205570071,0,14613748,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
6,205570072,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
7,205570073,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
8,205570074,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
9,205570075,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
10,205570076,1,14802260,NaN,0,2012-09-01 00:23:49,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
11,205570078,1,14802261,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
12,205570080,1,14802262,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
13,205570082,1,14802263,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
14,205570083,1,14802264,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
15,205570084,1,14802267,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
17,205570124,0,13864150,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
18,205570126,1,14802269,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
19,205570128,1,14802270,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
20,205570129,1,14802272,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
21,205570131,1,14802273,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
22,205570132,1,14802274,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
23,205570311,0,11693123,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
24,205570312,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
25,205570314,1,14802275,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
26,205570316,1,14802276,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
27,205570318,1,14802277,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
28,205570320,1,14802278,2012-09-01 00:30:52,1,2012-09-01 00:31:09,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
29,205570322,1,14802280,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
30,205570324,1,14802281,2012-09-01 14:24:59,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607775,219114431,1,15463302,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607776,219114432,1,15463303,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607777,219114434,1,15463304,2012-10-01 21:42:12,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607778,219114435,1,15463306,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607779,219114437,1,15463307,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607780,219114534,1,15463310,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607781,219114536,1,15463311,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607782,219114539,1,15463312,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607783,219114541,1,15463313,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607784,219114542,1,15463316,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607785,219114545,1,15463317,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607786,219114547,1,15463318,2012-10-01 00:05:04,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607787,219114549,1,15463319,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607788,219114615,0,12591347,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607790,219114622,1,15463322,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607791,219114631,1,15463323,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607792,219114634,1,15463325,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607793,219114636,1,15463326,2012-09-30 23:42:03,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607794,219114638,1,15463327,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607795,219114641,1,15463329,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607796,219114643,1,15463330,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607797,219114645,1,15463332,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607800,219114732,1,15463334,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607801,219114736,1,15463335,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607802,219114738,1,15463336,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607803,219114740,1,15463337,2012-10-05 12:25:56,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607804,219114742,1,15463338,2012-10-01 11:27:01,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607805,219114747,1,15463339,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607807,219114812,0,12935379,2012-09-30 23:56:50,1,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607808,219114813,0,15457355,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"

#### Revenue/Cost/Profit

In [52]:
len(email_sent_response.loc[email_sent_response['click']==1])

298235

In [53]:
total_revenue = 0.12 * len(email_sent_response.loc[email_sent_response['click']==1])
print total_revenue
total_cost = 0.4 * 9574926/1000
print total_cost
gross_margin = (total_revenue - total_cost)
print gross_margin

35788.2
3829.9704
31958.2296

#### Revenue/Cost/Profit by email_kind

In [54]:
dict_of_email = {k: v for k, v in email_sent_response.groupby('email_kind')}

In [55]:
total_gross_margin = 0
for k in dict_of_email:        
    revenue = 0.12 * len(dict_of_email[k].loc[dict_of_email[k]['click']==1])
    cost = 0.4 * len(dict_of_email[k]['click'])/1000
    gm = revenue - cost
    ROI = gm/cost
    gm_unit = (revenue - cost)/len(dict_of_email[k]['click'])
    print 'The number of',k,'is:',len(dict_of_email[k]['click'])
    print 'The gm_unit of',k,'is:',gm_unit
    print ROI
    print 'The Total GM of', k , 'is:',gm
    total_gross_margin += gm
total_gross_margin

The number of cloud email is: 2733740
The gm_unit of cloud email is: 0.00401373356647
10.0343339162
The Total GM of cloud email is: 10972.504
The number of log_in is: 497127
The gm_unit of log_in is: 0.0046068493564
11.517123391
The Total GM of log_in is: 2290.1892
The number of birthday_job is: 6374
The gm_unit of birthday_job is: 0.00212274866646
5.30687166614
The Total GM of birthday_job is: 13.5304
The number of birthday is: 273012
The gm_unit of birthday is: -0.000184624851655
-0.461562129137
The Total GM of birthday is: -50.4048
The number of password is: 93089
The gm_unit of password is: -0.0004
-1.0
The Total GM of password is: -37.2356
The number of job_listing is: 5971584
The gm_unit of job_listing is: 0.00314316040769
7.85790101923
The Total GM of job_listing is: 18769.6464

31958.2296

#### Revenue by Opened_before campaign

In [56]:
opened_campaign = email_sent_response.loc[email_sent_response['opened_before']==1]
revenue = 0.12 * len(opened_campaign.loc[opened_campaign['click']==1])
cost = 0.4 * len(opened_campaign['click'])/1000
gm = revenue - cost
ROI = gm/cost
opened_gm_unit = (revenue - cost)/len(opened_campaign['click'])
print 'The ROI of campaign_opened is:',ROI
print 'The number of Opened_before emails is:',len(opened_campaign['click']) 
print 'The Total GM of campaign_opened is:',gm

The ROI of campaign_opened is: 5.1429010397
The number of Opened_before emails is: 3387813
The Total GM of campaign_opened is: 6969.2748

#### Revenue by age22+ campaign

In [57]:
age22_campaign = email_sent_response.loc[email_sent_response['age22']==1]
revenue = 0.12 * len(age22_campaign.loc[age22_campaign['click']==1])
cost = 0.4 * len(age22_campaign['click'])/1000
gm = revenue - cost
ROI = gm/cost
age22_gm_unit = (revenue - cost)/len(age22_campaign['click'])
print 'The ROI of campaign_age22 is:',ROI
print 'The number of age22 emails is:',len(age22_campaign['click']) 
print 'The Total GM of campaign_age22 is:',gm

The ROI of campaign_age22 is: 10.3601942177
The number of age22 emails is: 3505345
The Total GM of campaign_age22 is: 14526.422

#### Revenue by age35+ campaign

In [58]:
age35_campaign = email_sent_response.loc[email_sent_response['age35']==1]
revenue = 0.12 * len(age35_campaign.loc[age35_campaign['click']==1])
cost = 0.4 * len(age35_campaign['click'])/1000
gm = revenue - cost
ROI = gm/cost
age35_gm_unit = (revenue - cost)/len(age35_campaign['click'])
print 'The ROI of campaign_age35 is:',ROI
print 'The number of age35 emails is:',len(age35_campaign['click'])
print 'The Total GM of campaign_age35 is:',gm

The ROI of campaign_age35 is: 7.41226729268
The number of age35 emails is: 293072
The Total GM of campaign_age35 is: 868.9312

#### Revenue by weekday

In [59]:
dict_of_email_weekday = {k: v for k, v in email_sent_response.groupby('weekday')}

In [60]:
total_gm_weekday = 0
for k in dict_of_email_weekday:        
    revenue = 0.12 * len(dict_of_email_weekday[k].loc[dict_of_email_weekday[k]['click']==1])
    cost = 0.4 * len(dict_of_email_weekday[k]['click'])/1000
    gm = revenue - cost
    ROI = gm/cost
    weekday_gm_unit = (revenue - cost)/len(dict_of_email_weekday[k]['click'])
    
    print 'The ROI of',k,'is:',ROI
    print gm
    total_gm_weekday += gm
total_gm_weekday

The ROI of Monday is: 10.5377994582
5509.4524
The ROI of Tuesday is: 9.44686836672
4826.1292
The ROI of Friday is: 9.67406026122
4816.4476
The ROI of Wednesday is: 6.69208485605
3603.768
The ROI of Thursday is: 10.2288210471
4630.7264
The ROI of Sunday is: 7.51530504732
4921.638
The ROI of Saturday is: 5.59575772813
3650.068

31958.2296

In [61]:
email_sent_response.groupby('weekday').size()

weekday
Friday       1244681
Monday       1307069
Saturday     1630730
Sunday       1637205
Thursday     1131784
Tuesday      1277177
Wednesday    1346280
dtype: int64

In [62]:
email_sent_response

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour
0,205569994,1,14802252,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
1,205569995,1,14802253,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
2,205569997,1,14802255,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
3,205569998,1,14802256,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
4,205570000,1,14802257,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
5,205570071,0,14613748,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
6,205570072,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
7,205570073,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
8,205570074,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
9,205570075,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
10,205570076,1,14802260,NaN,0,2012-09-01 00:23:49,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
11,205570078,1,14802261,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
12,205570080,1,14802262,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
13,205570082,1,14802263,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
14,205570083,1,14802264,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
15,205570084,1,14802267,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
17,205570124,0,13864150,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
18,205570126,1,14802269,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
19,205570128,1,14802270,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
20,205570129,1,14802272,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
21,205570131,1,14802273,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
22,205570132,1,14802274,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
23,205570311,0,11693123,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
24,205570312,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
25,205570314,1,14802275,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
26,205570316,1,14802276,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
27,205570318,1,14802277,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
28,205570320,1,14802278,2012-09-01 00:30:52,1,2012-09-01 00:31:09,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
29,205570322,1,14802280,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
30,205570324,1,14802281,2012-09-01 14:24:59,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607775,219114431,1,15463302,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607776,219114432,1,15463303,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607777,219114434,1,15463304,2012-10-01 21:42:12,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607778,219114435,1,15463306,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607779,219114437,1,15463307,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607780,219114534,1,15463310,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607781,219114536,1,15463311,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607782,219114539,1,15463312,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607783,219114541,1,15463313,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607784,219114542,1,15463316,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607785,219114545,1,15463317,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607786,219114547,1,15463318,2012-10-01 00:05:04,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607787,219114549,1,15463319,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607788,219114615,0,12591347,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607790,219114622,1,15463322,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607791,219114631,1,15463323,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607792,219114634,1,15463325,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607793,219114636,1,15463326,2012-09-30 23:42:03,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607794,219114638,1,15463327,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607795,219114641,1,15463329,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607796,219114643,1,15463330,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607797,219114645,1,15463332,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607800,219114732,1,15463334,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607801,219114736,1,15463335,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607802,219114738,1,15463336,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607803,219114740,1,15463337,2012-10-05 12:25:56,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607804,219114742,1,15463338,2012-10-01 11:27:01,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607805,219114747,1,15463339,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607807,219114812,0,12935379,2012-09-30 23:56:50,1,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"
9607808,219114813,0,15457355,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]"

#### Profit by state

In [63]:
members_state = pd.read_csv('members_state.tsv', delimiter = '\t')
members_state = members_state.drop(members_state.columns[0], axis=1)
members_state.loc[members_state['member_id']==14802270]

         member_id state
1101021   14802270    TX

In [64]:
df = email_sent_response.merge(members_state,how='left',on='member_id')
df

,email_id,email_type,member_id,open_time,open,click_time,click,unsub_time,unsub,email_kind,opened_before,age22,age35,category_days_joined,date,weekday,category_hour,state
0,205569994,1,14802252,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",AZ
1,205569995,1,14802253,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",VA
2,205569997,1,14802255,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",IN
3,205569998,1,14802256,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CO
4,205570000,1,14802257,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
5,205570071,0,14613748,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",WA
6,205570072,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
7,205570073,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
8,205570074,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
9,205570075,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
10,205570076,1,14802260,NaN,0,2012-09-01 00:23:49,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",TN
11,205570078,1,14802261,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",WY
12,205570080,1,14802262,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
13,205570082,1,14802263,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
14,205570083,1,14802264,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",OH
15,205570084,1,14802267,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",WA
16,205570124,0,13864150,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",PA
17,205570126,1,14802269,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",WA
18,205570128,1,14802270,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",TX
19,205570129,1,14802272,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",HI
20,205570131,1,14802273,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",GA
21,205570132,1,14802274,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",OH
22,205570311,0,11693123,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",MI
23,205570312,0,14802258,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
24,205570314,1,14802275,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",WA
25,205570316,1,14802276,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",\N
26,205570318,1,14802277,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",NY
27,205570320,1,14802278,2012-09-01 00:30:52,1,2012-09-01 00:31:09,1,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",FL
28,205570322,1,14802280,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
29,205570324,1,14802281,2012-09-01 14:24:59,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-01,Saturday,"(-0.023, 5.75]",CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9574896,219114431,1,15463302,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",CA
9574897,219114432,1,15463303,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TX
9574898,219114434,1,15463304,2012-10-01 21:42:12,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",SC
9574899,219114435,1,15463306,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NY
9574900,219114437,1,15463307,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TX
9574901,219114534,1,15463310,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NC
9574902,219114536,1,15463311,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",GU
9574903,219114539,1,15463312,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NC
9574904,219114541,1,15463313,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NV
9574905,219114542,1,15463316,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TN
9574906,219114545,1,15463317,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",KS
9574907,219114547,1,15463318,2012-10-01 00:05:04,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NJ
9574908,219114549,1,15463319,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NY
9574909,219114615,0,12591347,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TN
9574910,219114622,1,15463322,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",WI
9574911,219114631,1,15463323,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",AR
9574912,219114634,1,15463325,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TX
9574913,219114636,1,15463326,2012-09-30 23:42:03,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",\N
9574914,219114638,1,15463327,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",IN
9574915,219114641,1,15463329,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",KS
9574916,219114643,1,15463330,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",CA
9574917,219114645,1,15463332,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",CA
9574918,219114732,1,15463334,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",KY
9574919,219114736,1,15463335,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",OH
9574920,219114738,1,15463336,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",TN
9574921,219114740,1,15463337,2012-10-05 12:25:56,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",MA
9574922,219114742,1,15463338,2012-10-01 11:27:01,1,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NY
9574923,219114747,1,15463339,NaN,0,NaN,0,NaN,0,log_in,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",GA
9574924,219114812,0,12935379,2012-09-30 23:56:50,1,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",NV
9574925,219114813,0,15457355,NaN,0,NaN,0,NaN,0,password,NaN,NaN,NaN,NaN,2012-09-30,Sunday,"(17.25, 23.0]",CA

In [65]:
r_state = df[['email_kind','state','click','open']].groupby(['state'], as_index=False).mean()
r_state['click_open'] = r_state['click']/r_state['open']
r_state

   state     click      open  click_open
0     AA  0.000000  0.000000         NaN
1     AE  0.071429  0.170068    0.420000
2     AK  0.025573  0.072318    0.353617
3     AL  0.028293  0.060332    0.468955
4     AP  0.081967  0.180328    0.454545
5     AR  0.026597  0.064859    0.410071
6     AS  0.100629  0.062893    1.600000
7     AZ  0.035617  0.086239    0.413007
8     CA  0.032913  0.088586    0.371536
9     CO  0.034190  0.089561    0.381750
10    CT  0.037600  0.086948    0.432439
11    DC  0.028367  0.066926    0.423861
12    DE  0.034246  0.079076    0.433071
13    FL  0.032935  0.079900    0.412210
14    FM  0.095238  0.047619    2.000000
15    GA  0.030255  0.068406    0.442294
16    GU  0.076087  0.112444    0.676667
17    HI  0.033453  0.085139    0.392916
18    IA  0.034601  0.075661    0.457324
19    ID  0.030216  0.079143    0.381787
20    IL  0.032804  0.078562    0.417556
21    IN  0.029845  0.069780    0.427709
22    KS  0.032256  0.076416    0.422118
23    KY  0.029837  0.065723    0.453978
24    LA  0.027654  0.067686    0.408558
25    MA  0.036133  0.092440    0.390881
26    MD  0.031461  0.078723    0.399635
27    ME  0.036837  0.073796    0.499175
28    MH  0.000000  0.000000         NaN
29    MI  0.032405  0.074448    0.435273
..   ...       ...       ...         ...
33    MS  0.028463  0.060347    0.471660
34    MT  0.033589  0.074930    0.448276
35    NC  0.030154  0.066397    0.454143
36    ND  0.023972  0.066978    0.357909
37    NE  0.027343  0.069724    0.392157
38    NH  0.040263  0.094735    0.425009
39    NJ  0.036632  0.089081    0.411221
40    NM  0.028474  0.069293    0.410916
41    NV  0.031695  0.084832    0.373617
42    NY  0.033328  0.076144    0.437699
43    OH  0.031272  0.069834    0.447809
44    OK  0.027269  0.071514    0.381307
45    OR  0.032102  0.084763    0.378725
46    PA  0.034093  0.079246    0.430217
47    PR  0.064557  0.115162    0.560574
48    PW  0.063830  0.085106    0.750000
49    RI  0.035380  0.085571    0.413458
50    SC  0.029623  0.061976    0.477975
51    SD  0.028438  0.068114    0.417500
52    TN  0.029072  0.067022    0.433772
53    TX  0.031468  0.078623    0.400232
54    UT  0.029904  0.081280    0.367911
55    VA  0.029917  0.070893    0.422007
56    VI  0.059445  0.099604    0.596817
57    VT  0.033940  0.078274    0.433608
58    WA  0.030628  0.086176    0.355416
59    WI  0.033724  0.076994    0.438013
60    WV  0.027295  0.062405    0.437381
61    WY  0.029192  0.067525    0.432320
62    \N  0.042545  0.105885    0.401805

[63 rows x 4 columns]

In [66]:
email_state = df['state'].value_counts()
email_state = pd.DataFrame(email_state)
email_state.columns = ['number of emails']
email_state['state'] = email_state.index
email_state = email_state.reset_index()
email_state = email_state.drop(email_state.columns[0], axis=1)
email_state

    number of emails state
0             880168    CA
1             801302    TX
2             771417    FL
3             472081    GA
4             397332    IL
5             396304    NY
6             377396    OH
7             377198    NC
8             348458    PA
9             279739    MI
10            260619    VA
11            252886    TN
12            242048    IN
13            218682    SC
14            212682    NJ
15            201816    AL
16            195038    MD
17            188279    AZ
18            187321    MO
19            176432    LA
20            148608    KY
21            138283    MS
22            136661    MA
23            129699    WI
24            125243    WA
25            119918    CO
26            101543    CT
27            100175    NV
28             95897    OK
29             91553    AR
..               ...   ...
33             61746    \N
34             58379    IA
35             54998    NM
36             50763    UT
37             50669    WV
38             38545    DE
39             36573    NE
40             29630    NH
41             29554    ID
42             28830    RI
43             28518    HI
44             24923    DC
45             24649    ME
46             20571    PR
47             14320    MT
48             12044    AK
49             11745    SD
50             11138    ND
51             10872    VT
52             10722    WY
53              3785    VI
54              2668    GU
55               882    AE
56               244    AP
57               159    AS
58               152    MP
59                47    PW
60                21    FM
61                18    MH
62                10    AA

[63 rows x 2 columns]

In [67]:
r_state = df[['email_kind','state','click','open']].groupby(['state'], as_index=False).sum()
r_state = r_state.merge(email_state,how='left',on='state')
r_state['total_gross_margin'] = (0.12*r_state['click'])-(0.0004*r_state['number of emails'])
r_state['gm_per_email'] = r_state['total_gross_margin']/r_state['number of emails']
# r_state.to_csv('profit_state.tsv', sep='\t')