In [1]:
import pandas as pd
import numpy as np

In [2]:
age22_campaign = pd.read_csv('age22_campaign.tsv', delimiter = '\t')

In [3]:
age22_campaign['category_days_joined'] = age22_campaign['category_days_joined'].map({'(-0.362, 24.133]': 0, '(24.133, 48.267]': 1})
age22_campaign['category_hour'] = age22_campaign['category_hour'].map({'(-0.023, 5.75]': 0, '(5.75, 11.5]': 1})
age22_campaign['email_kind'] = age22_campaign['email_kind'].map({'job_listing': 0, 'cloud email': 1})
age22_campaign['weekday'] = age22_campaign['weekday'].map({'Monday': 0, 'Tuesday': 1, 'Wednesday':2,'Thursday':3,'Friday':4,'Saturday':5,'Sunday':6})

In [4]:
age22_campaign = age22_campaign.drop(age22_campaign.columns[0],axis = 1)
age22_campaign = age22_campaign.drop('email_id',axis = 1)

In [6]:
age22_campaign

,member_id,open,email_kind,category_days_joined,weekday,category_hour,opened_before,age35
0,14776905,0,0,0,5,0,0.0,0.0
1,14769641,0,0,0,5,0,0.0,0.0
2,14783202,0,0,0,5,0,0.0,0.0
3,14778842,0,0,0,5,0,0.0,0.0
4,14779187,0,0,0,5,0,0.0,0.0
5,14762768,0,0,0,5,0,0.0,0.0
6,14778665,0,0,0,5,0,0.0,0.0
7,14764985,0,0,0,5,0,0.0,0.0
8,14781531,0,0,0,5,0,0.0,0.0
9,14769474,0,0,0,5,0,0.0,0.0
10,14761612,0,0,0,5,0,0.0,0.0
11,14762563,0,0,0,5,0,0.0,0.0
12,14782199,0,0,0,5,0,0.0,0.0
13,14761202,0,0,0,5,0,0.0,0.0
14,14775525,0,0,0,5,0,0.0,0.0
15,14779989,0,0,0,5,0,0.0,0.0
16,14764286,0,0,0,5,0,0.0,0.0
17,14763939,0,0,0,5,0,0.0,0.0
18,14780230,0,0,0,5,0,0.0,0.0
19,14776298,0,0,0,5,0,0.0,0.0
20,14782894,0,0,0,5,0,0.0,0.0
21,14767776,0,0,0,5,0,0.0,0.0
22,14763127,0,0,0,5,0,0.0,0.0
23,14768252,0,0,0,5,0,0.0,0.0
24,14773558,0,0,0,5,0,0.0,0.0
25,14770786,0,0,0,5,0,0.0,0.0
26,14778610,0,0,0,5,0,0.0,0.0
27,14782683,0,0,0,5,0,0.0,0.0
28,14768740,0,0,0,5,0,0.0,0.0
29,14766873,0,0,0,5,0,0.0,0.0
...,...,...,...,...,...,...,...,...
584585,14888787,0,0,1,6,1,1.0,0.0
584586,14875269,0,0,1,6,1,0.0,0.0
584587,14872759,0,0,1,6,1,0.0,0.0
584588,14875650,0,0,1,6,1,0.0,0.0
584589,14868648,1,0,1,6,1,1.0,0.0
584590,14876052,0,0,1,6,1,0.0,0.0
584591,14868946,0,0,1,6,1,1.0,0.0
584592,14889921,1,0,1,6,1,1.0,0.0
584593,14884520,0,0,1,6,1,1.0,0.0
584594,14879122,0,0,1,6,1,0.0,0.0
584595,14872123,0,0,1,6,1,0.0,0.0
584596,14889918,0,0,1,6,1,0.0,0.0
584597,14877938,0,0,1,6,1,1.0,0.0
584598,14880447,0,0,1,6,1,0.0,0.0
584599,14882119,0,0,1,6,1,0.0,0.0
584600,14873161,0,0,1,6,1,1.0,0.0
584601,14888390,0,0,1,6,1,0.0,0.0
584602,14885774,0,0,1,6,1,0.0,0.0
584603,14876022,0,0,1,6,1,1.0,0.0
584604,14874176,0,0,1,6,1,1.0,0.0
584605,14866896,0,0,1,6,1,1.0,0.0
584606,14871082,0,0,1,6,1,1.0,0.0
584607,14877539,0,0,1,6,1,1.0,0.0
584608,14878450,0,0,1,6,1,1.0,0.0
584609,14886924,0,0,1,6,1,0.0,0.0
584610,14888266,0,0,1,6,1,0.0,0.0
584611,14885417,1,0,1,6,1,1.0,0.0
584612,14882086,0,0,1,6,1,0.0,0.0
584613,14892722,0,0,1,6,1,0.0,0.0
584614,14871584,0,0,1,6,1,0.0,0.0

In [7]:
members = pd.read_csv('members_info.tsv', delimiter = '\t')
members = members.drop(members.columns[0], axis=1)

In [8]:
df = age22_campaign.merge(members,how='left',on='member_id')
df = df.dropna(subset=['state'])
drop_elements = ['city', 'zip']
df = df.drop(drop_elements,axis =1)
df.loc[df['degree_level']=='\N','degree_level'] = np.nan

In [9]:
categoryVarList = ['state','degree_level']
for var in categoryVarList:
    df[var] = df[var].astype('category')
df['opened_before'] =  df['opened_before'].astype(int)
df['age35'] =  df['age35'].astype(int)

In [10]:
df['hs_or_ged_year'] = (df['hs_or_ged_year'] - df['hs_or_ged_year'].mean()) / (df['hs_or_ged_year'].max() - df['hs_or_ged_year'].min())
df

,member_id,open,email_kind,category_days_joined,weekday,category_hour,opened_before,age35,state,degree_level,hs_or_ged_year
0,14776905,0,0,0,5,0,0,0,IN,GED,0.162027
1,14769641,0,0,0,5,0,0,0,OH,HS,-0.176208
4,14779187,0,0,0,5,0,0,0,TN,Bachelor,-0.146797
5,14762768,0,0,0,5,0,0,0,MO,HS,0.235556
6,14778665,0,0,0,5,0,0,0,TX,GED,-0.014444
7,14764985,0,0,0,5,0,0,0,ID,HS,-0.190914
8,14781531,0,0,0,5,0,0,0,TX,Some HS,0.264968
9,14769474,0,0,0,5,0,0,0,KS,GED,-0.058561
10,14761612,0,0,0,5,0,0,0,OH,HS,-0.205620
11,14762563,0,0,0,5,0,0,0,GA,Master,-0.293856
15,14779989,0,0,0,5,0,0,0,MD,Some College,0.103203
16,14764286,0,0,0,5,0,0,0,NC,Bachelor,0.191439
17,14763939,0,0,0,5,0,0,0,SD,Master,-0.337973
18,14780230,0,0,0,5,0,0,0,LA,GED,0.206144
20,14782894,0,0,0,5,0,0,0,MI,GED,-0.543856
21,14767776,0,0,0,5,0,0,0,WA,Some College,0.147321
22,14763127,0,0,0,5,0,0,0,NJ,HS,-0.190914
24,14773558,0,0,0,5,0,0,0,NH,HS,-0.235032
25,14770786,0,0,0,5,0,0,0,AZ,GED,0.044380
27,14782683,0,0,0,5,0,0,0,AZ,NaN,0.264968
28,14768740,0,0,0,5,0,0,0,PR,Bachelor,0.088497
29,14766873,0,0,0,5,0,0,0,KS,NaN,0.162027
31,14780941,0,0,0,5,0,0,0,OH,HS,-0.323267
32,14770427,0,0,0,5,0,0,0,TX,Some College,0.088497
33,14773676,0,0,0,5,0,0,0,OH,HS,-0.117385
37,14777505,0,0,0,5,0,0,0,FL,HS,0.088497
38,14769623,0,0,0,5,0,0,0,VA,HS,-0.102679
39,14763344,0,0,0,5,0,0,0,MO,Some College,-0.102679
40,14762422,0,0,0,5,0,0,0,AR,Some College,-0.029150
41,14762694,0,0,0,5,0,0,0,FL,Some College,-0.205620
...,...,...,...,...,...,...,...,...,...,...,...
584585,14888787,0,0,1,6,1,1,0,MA,HS,-0.176208
584586,14875269,0,0,1,6,1,0,0,IL,HS,0.117909
584587,14872759,0,0,1,6,1,0,0,NV,HS,0.264968
584588,14875650,0,0,1,6,1,0,0,IL,HS,-0.146797
584589,14868648,1,0,1,6,1,1,0,PA,HS,0.132615
584590,14876052,0,0,1,6,1,0,0,IN,Some College,0.162027
584591,14868946,0,0,1,6,1,1,0,IN,Bachelor,-0.264444
584592,14889921,1,0,1,6,1,1,0,NV,Bachelor,-0.205620
584593,14884520,0,0,1,6,1,1,0,CA,Associate,-0.102679
584594,14879122,0,0,1,6,1,0,0,MI,HS,0.206144
584595,14872123,0,0,1,6,1,0,0,TX,NaN,0.235556
584596,14889918,0,0,1,6,1,0,0,TN,GED,0.264968
584597,14877938,0,0,1,6,1,1,0,TX,Some College,-0.102679
584598,14880447,0,0,1,6,1,0,0,CA,Associate,0.235556
584599,14882119,0,0,1,6,1,0,0,IN,Associate,-0.102679
584600,14873161,0,0,1,6,1,1,0,AZ,GED,-0.029150
584601,14888390,0,0,1,6,1,0,0,MI,Some College,-0.073267
584602,14885774,0,0,1,6,1,0,0,IN,GED,0.235556
584603,14876022,0,0,1,6,1,1,0,IL,Some College,0.044380
584604,14874176,0,0,1,6,1,1,0,LA,Associate,-0.132091
584605,14866896,0,0,1,6,1,1,0,NY,Bachelor,-0.073267
584606,14871082,0,0,1,6,1,1,0,FL,HS,0.014968
584607,14877539,0,0,1,6,1,1,0,MO,HS,0.264968
584608,14878450,0,0,1,6,1,1,0,IL,Some College,-0.058561
584609,14886924,0,0,1,6,1,0,0,FL,GED,-0.058561
584610,14888266,0,0,1,6,1,0,0,MI,Some College,-0.337973
584611,14885417,1,0,1,6,1,1,0,NY,Bachelor,0.279674
584612,14882086,0,0,1,6,1,0,0,IL,HS,0.279674
584613,14892722,0,0,1,6,1,0,0,TX,Some College,0.279674
584614,14871584,0,0,1,6,1,0,0,GA,Some College,0.088497

In [11]:
df.dtypes

member_id                  int64
open                       int64
email_kind                 int64
category_days_joined       int64
weekday                    int64
category_hour              int64
opened_before              int64
age35                      int64
state                   category
degree_level            category
hs_or_ged_year           float64
dtype: object

In [12]:
df.to_csv('age22_campaign_pred.tsv', sep='\t')

In [16]:
members_state = members[['member_id','state']].copy()
members_state.to_csv('members_state.tsv', sep='\t')